/* ----------- VARIÁVEIS DE CORES -----------*/

$primary-normal: #0b1111;
$primay-semi-transparent: #00000060;
$primary-transaparent: #0000000f;

$preto-claro:#282828;
$preto-borda: rgba(57,57,57,.5);
$cinza: #7e8181;


$secondary-normal:#fffafa;
$secondary-semi-transparent:rgba(255, 255, 255, 0.709);

$green-normal: #076f09;
$blue-normal:#1e88e5;

